/* Forms */

/* Reset apple form styles */
input, textarea, select { 
  -webkit-appearance: none; 
  -moz-appearance: none; 
  appearance: none; border-radius: 0; 
  background-image: none; 
}
/* Adjust input autofill to brand colors */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  background-color: var(--primary--background) !important;
  color: var(--primary--text) !important;
  -webkit-box-shadow: 0 0 0 50px var(--primary--background) inset;
  -webkit-text-fill-color: var(--primary--text);
}
/* Select input custom arrow */
.input-group:has(.input.cc-select)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1.5rem;
  border-top: 2px solid var(--primary--text);
  border-right: 2px solid var(--primary--text);
  transform: translateY(-90%) rotate(135deg);
  width: 0.4rem;
  height: 0.4rem;
  pointer-events: none;
}
